
/*
brown: #8B6B7E
cream: #F5E9E2;

*/
.scroll-arrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #8B6B7E;
    background: #F5E9E2;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #8B6B7E;
}

*{

    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1,h2{

     color: #8B6B7E;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.cream-bg{
    background-color: #F5E9E2;;

}
.container{
    text-align: center;
    padding: 20 0px;

}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.profile-photo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px 0;

}
.photo{
    width: 100%;
    max-width: 800px;
}